.services-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 356px;
    background-color: #F4F4F4;
}
.services-title{
    font-weight: 400;
    font-size: 2.5rem;
    padding-top: 4rem;
}


.title-container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-title-secondary{
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: #213d76;
}

.services-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 800px;
    width: 100%;
}
.card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 550px;
}
.card-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 8px;
    color: #E85241;
}
.card-image{
    width: 400px;
    height: 400px;
    overflow-y: hidden;
}

.img-services{
    width: 400px;
    height: 400px;
}
.card-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background:#F4F4F4;
    padding: 8px 20px;
    margin: 8px 0px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    width: 160px;
    height: 50px;
}
.card-button:hover{
    transition: background-color 0.1s linear, color 0.1s linear,
    border 0.1s linear, outline 0.1s linear;
    background-color: #E85241;
    color: #F4F4F4;
}

