.aboutContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.aboutBox{
    width: 70vw;
    height: 800px;
    padding-top: 2rem;
}

.cardAbout{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
}


.aboutTitle{
    font-size: 2rem;
    font-weight: 400;
    text-decoration-line: underline;
    text-decoration-color: #E85241;

}

.aboutText{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
}

.aboutUsContainer{
    width: 100vw;
    background: linear-gradient(180deg, #EB9480 0%, #EB9480 3.12%, #EB9480 4.69%, #EB9480 5.47%, #EB937F 5.86%, #EB927E 6.25%, #EB917D 6.64%, #EB917D 7.03%, #EB907C 7.42%, #EA8F7B 7.81%, #EA8E7A 8.2%, #EA8E79 8.59%, #EA8D78 8.98%, #EA8C77 9.37%, #EA8B77 9.77%, #EA8A76 10.16%, #EA8A75 10.55%, #EA8974 10.94%, #EA8873 11.33%, #EA8772 11.72%, #EA8672 12.11%, #EA8671 12.5%, #EA8570 12.89%, #EA846F 13.28%, #EA836E 13.67%, #EA836D 14.06%, #EA826D 14.45%, #EA816C 14.84%, #EA806B 15.23%, #EA806A 15.62%, #EA7F69 16.02%, #EA7E69 16.41%, #EA7D68 16.8%, #EA7C67 17.19%, #EA7C66 17.58%, #EA7B66 17.97%, #EA7A65 18.36%, #EA7964 18.75%, #EA7963 19.14%, #EA7863 19.53%, #EA7762 19.92%, #EA7661 20.31%, #EA7660 20.7%, #EA7560 21.09%, #EA745F 21.48%, #EA735E 21.87%, #EA735D 22.27%, #EA725D 22.66%, #E9715C 23.05%, #E9705B 23.44%, #E9705B 23.83%, #E96F5A 24.22%, #E96E59 24.61%, #E96D58 25%, #E96D58 25.39%, #E96C57 25.78%, #E96B56 26.17%, #E96A56 26.56%, #E96A55 26.95%, #E96954 27.34%, #E96854 27.73%, #E96753 28.12%, #E96752 28.52%, #E96652 28.91%, #E96551 29.3%, #E96450 29.69%, #E96450 30.08%, #E9634F 30.47%, #E9624E 30.86%, #E9624E 31.25%, #E9614D 31.64%, #E9604C 32.03%, #E95F4C 32.42%, #E95F4B 32.81%, #E95E4B 33.2%, #E95D4A 33.59%, #E95C49 33.98%, #E95C49 34.37%, #E95B48 34.77%, #E95A48 35.16%, #E95A47 35.55%, #E95946 35.94%, #E95846 36.33%, #E95745 36.72%, #E95745 37.11%, #E85644 37.5%, #E85543 37.89%, #E85543 38.28%, #E85442 38.67%, #E85342 39.06%, #E85241 39.45%, #E85241 39.84%, #E65141 40.23%, #E45142 40.62%, #E25143 41.02%, #E15044 41.41%, #DF5045 41.8%, #DD5046 42.19%, #DB5046 42.58%, #D94F47 42.97%, #D74F48 43.36%, #D54F49 43.75%, #D34F4A 44.14%, #D14E4A 44.53%, #CF4E4B 44.92%, #CD4E4C 45.31%, #CB4E4D 45.7%, #C94D4E 46.09%, #C74D4E 46.48%, #C64D4F 46.87%, #C44D50 47.27%, #C24C50 47.66%, #C04C51 48.05%, #BE4C52 48.44%, #BC4C53 48.83%, #BA4B53 49.22%, #B94B54 49.61%, #B74B55 50%, #B54B55 50.39%, #B34B56 50.78%, #B14A57 51.17%, #B04A57 51.56%, #AE4A58 51.95%, #AC4A59 52.34%, #AA4A59 52.73%, #A9495A 53.12%, #A7495A 53.52%, #A5495B 53.91%, #A3495C 54.3%, #A2495C 54.69%, #A0495D 55.08%, #9E485D 55.47%, #9D485E 55.86%, #9B485F 56.25%, #99485F 56.64%, #984860 57.03%, #964860 57.42%, #944761 57.81%, #934761 58.2%, #914762 58.59%, #904762 58.98%, #8E4763 59.37%, #8C4763 59.77%, #8B4764 60.16%, #894664 60.55%, #884665 60.94%, #864665 61.33%, #844666 61.72%, #834666 62.11%, #814667 62.5%, #804667 62.89%, #7E4668 63.28%, #7D4568 63.67%, #7B4569 64.06%, #7A4569 64.45%, #78456A 64.84%, #77456A 65.23%, #75456B 65.62%, #74456B 66.02%, #72456B 66.41%, #71456C 66.8%, #70456C 67.19%, #6E446D 67.58%, #6D446D 67.97%, #6B446D 68.36%, #6A446E 68.75%, #69446E 69.14%, #67446F 69.53%, #66446F 69.92%, #64446F 70.31%, #634470 70.7%, #624470 71.09%, #604471 71.48%, #5F4471 71.87%, #5E4471 72.27%, #5C4372 72.66%, #5B4372 73.05%, #5A4372 73.44%, #594373 73.83%, #574373 74.22%, #564373 74.61%, #554374 75%, #544374 75.39%, #524374 75.78%, #514375 76.17%, #504375 76.56%, #4F4375 76.95%, #4E4375 77.34%, #4C4376 77.73%, #4B4376 78.12%, #4A4376 78.52%, #494377 78.91%, #484377 79.3%, #474377 79.69%, #464377 80.08%, #454378 80.47%, #434378 80.86%, #424278 81.25%, #414278 81.64%, #404279 82.03%, #3F4279 82.42%, #3E4279 82.81%, #3D4279 83.2%, #3C427A 83.59%, #3B427A 83.98%, #3A427A 84.37%, #39427A 84.77%, #38427B 85.16%, #37427B 85.55%, #36427B 85.94%, #35427B 86.33%, #35427B 86.72%, #34427C 87.11%, #33427C 87.5%, #32427C 87.89%, #31427C 88.28%, #30427C 88.67%, #30427D 89.06%, #2F427D 89.45%, #2E427D 89.84%, #2D427D 90.23%, #2D427D 90.62%, #2C427D 91.02%, #2B427D 91.41%, #2B427E 91.8%, #2A427E 92.19%, #29427E 92.58%, #29427E 92.97%, #28427E 93.36%, #28427E 93.75%, #27427E 94.14%, #27427E 94.53%, #26427E 95.31%, #26427F 96.87%, #26427F 100%);
}

.aboutUsTitle{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    padding-top: 2rem;
}

.aboutUsBoxes{
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUsItem{
    display: flex;
    width: 300px;
    height: 300px;
    background-color: white;
}