/* navbar */

.header {
  width: 100vw;
  display: flex;
}

.navbar {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.navLink {
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 200;
}
.navLink:hover {
  font-weight: 400;
  color: #e85241;
  text-decoration-color: #213d76;
  text-decoration-line: underline;
}
/* ul  */
.navMenu {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
/* media queries */
@media screen and (max-width: 780px) {
  /* hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar {
    background-color: black;
    width: 40px;
    height: 4px;
    display: block;
    margin: 8px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  /* adding active class to the bars  */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    gap: 10px;
  }

  /* navMenu */
  .navMenu {
    position: absolute;
    flex-direction: column;
    gap: 0;
    top: 70px;
    left: -80%;
    text-align: left;
    width: 80%;
    height: 370px;
    transition: 0.7s ease-in-out;
    background-color: white;
    padding: 5px;
    z-index: 3;
   
  }

  .navMenu.active {
    left: 0;
    opacity: 0.8;
  }

  .navMenu li {
    margin: 10px;
  }
  .navLink{
    font-weight: 300;
    text-decoration: underline;
    text-decoration-color: #E85241;
  }
  .navLink:hover {
    color: #e85241;
  }
}

@media (min-width: 319px) and (max-width: 425px) {
  .header {
    min-width: 320px;
    max-width: 425px;
  }
  .navbar {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 6rem;
  }

}
