.servicesContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.mainContainer{
    height: 356px;
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicesTitle{
    font-weight: 400;
    font-size: 2.5rem;
    border-style: solid;
    border-width: 0 0 0.20rem 0;
    border-color: #E85241;
}

.servicesBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 800px;
}

.card{
    height: 600px;
}

.cardTitle{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 2rem;
}

.cardCuadrado{
    width: 400px;
    height: 300px;
    background: #E85241;
    border-radius: 15px;
}

.cardContent{
    padding-top: 1rem;
}
