.servicesContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 356px;
    background-color: #F4F4F4;
}

.servicesTitle{
    font-weight: 400;
    font-size: 2.5rem;
    border-style: solid;
    border-width: 0 0 0.20rem 0;
    border-color: #E85241;
}
.servicesCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
    padding-top: 3rem;
}
.cardContent{
    height: 600px;
}
.cardImage{
    width: 400px;
    height: 400px;
    background-color: #E85241;
}

.cardTitle{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

/*media querys*/
@media (min-width: 320px) and (max-width: 425px){

    .servicesBox{
        width: 90vw;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        height: 1800px;
    }

    .cardCuadrado{
        width: 300px;
        height: 300px;
        background: #E85241;
        border-radius: none;
    }
    

    .cardContent{
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
    }
    

}