.services-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.services-title{
    font-weight: 400;
    font-size: 2rem;
    padding-top: 5rem;
    text-decoration-line: underline;
    text-decoration-color: #E85241;
}

.services-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 800px;
}

.card{
    height: 600px;
}

.card-title{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 2rem;
}

.card-cuadrado{
    width: 400px;
    height: 300px;
    background: #E85241;
    border-radius: 15px;
}

.card-content{
    padding-top: 1rem;
}

