.home-section{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.homeBox1{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
.homeMainTitle{
    font-weight: 500;
    font-size: 3rem;
    color: black;
}
.textQuaternary{
    color: #E56143;
}
.container-text{
    width: 70%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-title{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: #213d76;
    padding-bottom: 1rem;
}

.home-text{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card-tools-container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    background-image: linear-gradient(to bottom, #eca890, #ec9b81, #eb8f72, #ea8263, #e87455, #e26359, #da535f, #cf4465, #b03d78, #873e83, #584082, #213d76);
}

.card-tools-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 450px;
    background: #FFFFFF;
    opacity: 0.9;
    border-radius: 10px;
}

.card-tools-img{
    width: 100px;
    height: 100px;
}

.card-tools-title{
    font-size: 2rem;
    font-weight: 500;
}

.card-tools-text{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding-top: 1rem;
}

.container-supports{
    width: 100%;
    height: 1000px;
    overflow-y: hidden;
}

.box-title-support{
    display: flex;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.title-support{
    font-size: 2rem;
    font-weight: 500;
    color: #213d76;
}

.text-support{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
}

.container-supports-imgs{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.box-supports{
    width: 400px;
    height: 600px;
}

.title-supports{
    text-align: center;
    padding-bottom: 1rem;
    color: #E56143;
    font-size: 1.5rem;
    font-weight: 400;
}

.img-supports{
    width: 400px;
    height: 400px;
}



/*
@media (max-width: 1440px) {

    .card-tools-body{
        width: 350px;
    }
    
    
}

@media (max-width: 1024px) {

    .card-tools-container{
        gap: 4px;
    }

    .card-tools-body{
        width: 250px
    }

    .card-tools-title{
        font-size: 1.5rem;
    }

    .card-tools-text{
        font-size: 0.8rem;
        font-weight: 400;
        text-align: center;
        padding-top: 1rem;
    }
    
    .box-supports{
        width: 300px;
    }
    
    .img-supports{
        width: 300px;
        height: 300px;
    }
    
    
}

@media (max-width: 768px){

    .container-text{
        height: 800px;
    }

    .card-tools-container{
    
        height: 1200px;
        flex-direction: column;
    }

    .card-tools-body{
        flex-wrap: wrap;
        width: 700px;
        height: 250px;
    }

    .text-support{
        text-align: center;
    }

    .box-supports{
        width: 200px;
    }
    
    .img-supports{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 425px){
    .container-text{
        height: 1200px;
    }

    .card-tools-container{
        height: 1400px;
        flex-direction: column;
    }

    .card-tools-body{
        width: 300px;
        height: 300px;
    }

    .text-support{
        font-size: 0.8rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .box-supports{
        width: 100px;
    }
    
    .img-supports{
        width: 100px;
        height: 100px;
    }

    .container-supports{
        width: 400px;
        height: 1200px;
        overflow-y: hidden;
    }

    .container-supports-imgs{
        width: 400px;
        height: 800px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

}

@media (max-width: 375px){
    .container-text{
        height: 1300px;
    }
}

@media (max-width: 320px){
    .container-text{
        height: 1500px;
    }
}
*/
