.header {
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100vw;
  background-color: #ffffff;
}

.img-logo {
  width: 150px;
  height: 150px;
}

.nav-links {
  margin: 6px;
  color: #231f20;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links:hover {
  color: #e85241;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}


@media (min-width: 320px) and (max-width: 768px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .header {
    gap: 2rem;
  }

  .header nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 60%;
    gap: 1.5rem;
    background-color: #213d76;
    transition: 1s;
    z-index: 3;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #e85241;
  }

  .nav-links {
    font-size: 1.5rem;
    color: #ffffff;
    margin-left: 1rem;
  }
}
