/* Estilo base para la barra de navegación */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: white;
}
  
  /* Estilo para la lista desordenada */
  nav ul {
    list-style-type: none;
    display: flex;
    margin-left: 10%;
    padding: 1rem;
  }
  
  /* Estilo para cada elemento de la lista */
  nav li {
    padding: 1.5rem;
  }
  
  /* Estilo para el enlace */
  nav li a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-weight: 400;
  }
  
  /* Estilo para el enlace cuando está activo */
  nav li a:hover {
    color: #E85241;
  }
  